/* Declarando variáveis Globais */
:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;
    --fonte-padrao: 'Inter';
}

body {
    margin: 0px;
    /* Margem Externa */
    padding: 0px;
    /* Margem Interna */
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

/* Menu NAV principal - Sessão Superior da Página*/

#mainMenu {
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(186, 186, 186, 1);
}
        /* Div Menu Links de Navegação */
        #menu {
            display: flex;
            width: 45%;
            justify-content: space-around;
            align-items: center;
            margin-left:5%;
        }
        /* Propriedade hover para alterar cor do link pela ação do mouse */
        #mainMenu div a:hover{
            color: var(--cinza-hover);
        }

        #mainMenu div a {
            font-size: 25px;
            font-family: var(--fonte-padrao);
            font-weight: bold;
            color: #FFFFFF;
            text-decoration: none;
        }
         /* Botão do Login do menu NAV */
        #mainMenu button {
            margin-right: 5%;

            font-family: var(--fonte-padrao);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;

            color: #FFFFFF;
            background: var(--azul-dnc);
            box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
            cursor: pointer;

            height: 40px;
            width: 80px;
        }

    /* Sessão Principal do Site */

section{
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top:100px;
            margin-bottom: 100px;
}

    header{
        color: white;
        font-family: var(--fonte-padrao);
    }

    header h1{
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 900;
        text-align: center;

        margin-bottom: 30px;
    }

    header h2{
        text-align: center;
        font-weight: 700;
        font-size: 40px;

        margin-bottom: 100px;
    }

    header .fundoBlack{
        background-color: black;
        font-weight: bold;
        padding: 3px;
    }

    /* Formulário */

    form{
        color: white;
        font-family: var(--fonte-padrao);
        font-weight:600;
        font-size:30px;
        width: 600px;
    }

    .formGroup{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    form input{
        border-radius: 10px;
        border: 0px;
        height: 30px;
        font-size: 20px;
        padding:10px;

        background: rgba(255, 255, 255, 0.9);
    }

    form label{
        margin: 10px 0 10px 0;
    }

    /* Estilizando um atributo input do formulário */
    form input::placeholder{
        color: rgba(57, 57, 57, 0.5);
    }

    .checkboxItens{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .checkboxItens label{
        font-size: 25px;
    }
    /* Estilizando um atributo do input do tipo CHECKBOX */
    input[type="checkbox"]{
        transform: scale(2);
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
    }
    /* Estilizando um atributo do botão de cadastro do tipo SUBMIT */
    input[type="submit"]{
        font-size: 32px;
        color: white;
        width:100%;
        height: 56px;

        background: rgba(12, 112, 242, 0.9);
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        border-radius: 10px;

        margin-top: 100px;
        cursor: pointer;
    }


    /* Estrutura do Footer */

footer{
    background: var(--azul-dnc);
    width:100%;
}

    footer .linha1{
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    footer ul{
        font-weight: 600;
        list-style: none;
        margin: 0px;
        padding:0px;
    }

    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 330px
    }

    footer h5{
        color: white;
        text-align: center;
        font-family: var(--fonte-padrao);
        font-weight: 800;
        font-size: 20px;


        background-color: var(--preto-dnc);
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        margin-bottom:15px;
    }

    footer ul li{
        text-align: center;
        color: white;
        font-family: var(--fonte-padrao);
        font-weight: 600;
        font-size: 20px;

        margin: 20px 0px 20px 0px;
    }

    footer ul li a {
        color: white;
        text-decoration: none;
    }

    footer ul li a:hover{
        color: var(--cinza-hover);
    }

    footer .endereco{
        font-family: var(--fonte-padrao);
        font-weight: 600;
        font-size: 18px;
        color: white;
        text-align: center;
        width: 20%;
    }

    footer .linha2{
        display: flex;
        justify-content: center;
        margin: 0px;
        height: 30px;
        padding: 10px;
    }

    footer .linha2 a {

        font-family: var(--fonte-padrao);
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        color: white;
        padding: 0px 7px 0px 7px;
        margin:0px;

    }

    footer .linha2 a:first-child{
        border-right: 3px solid white;
    }

    footer .linha2 a:hover{
        color: var(--cinza-hover);
    }

    /* Utilizando Media Query */

    @media only screen and (max-width: 600px){
        /* Nav Menu Principal */
        #mainMenu{
            flex-direction: column;
            height: auto;
        }
        /* Div Menu */
        #menu{
            flex-direction: column;
            width: 100%;
        }
        /* Menu Links */
        #menu a{
            display: flex;
            align-items: center;
            height: 50px;
        }
        /* Botão do Menu */
        #mainMenu button{
            width:100%;
            margin:0px;
        }

        /* Section */
        section h1{
            font-size: 38px;
        }

        section h2{
            font-size: 28px;
            padding-right: 15px;
            padding-left: 15px;
        }

        /* Formulário */

        form{
            width: 95%;
            font-size: 20px;
        }

        .checkboxItens label{
            font-size: 15px;
        }

         /* Rodapé */

    footer .linha1{
        flex-direction: column;
    }

    footer .endereco{
        text-align: center;
        width: 95%;
        margin-bottom: 20px;
        font-size: 18px;
    }

    footer .linha2{
        text-align: center;
        width: 100%;
        font-size: 18px;
        padding:0px 0px 20px 0px;
        margin-right: 0px;
        
    }
}